body {
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

.carrois-gothic {
    font-family: Carrois Gothic SC;
}

.gruppo {
    font-family: Gruppo;
}

.megrim {
    font-family: Megrim;
}

.wire-one {
    font-family: Wire One;
}

.kristi {
    font-family: Krsiti;
}

.karma {
    font-family: Karma;
}

.advent-pro {
    font-family: Advent Pro;
}

.syncopate {
    font-family: Syncopate;
}

.rock-salt {
    font-family: Rock Salt;
}

.unica-one {
    font-family: Unica One;
}

.caveat {
    font-family: Caveat;
}